{{ template "layout" . }}

{{ define "head" }}
<link rel="stylesheet" href="/public/app.css">
{{ end }}

{{ define "main" }}
<div class="d-flex align-center justify-center">
    <header>
        <h1>Room</h1>
    </header>
    <div class="viewer-grid">
        <div id="prev" class="control">
            <button class="button is-primary" type="button">&lt;</button>
        </div>
        <div id="viewer"></div>
        <div id="next" class="control">
            <button class="button is-primary" type="button">&gt;</button>
        </div>
    </div>
</div>
{{ end }}

{{ define "footer" }}
<script src="/public/app.min.js"></script>
{{ end }}